In [38]:
# Libraries
import pandas as pd

In [39]:
PMOS = pd.read_csv('patient.csv')

In [40]:
PMOS

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,age,education,family,occupation,income,nationality,nursing field,nursing days,safety evaluation,comments
0,4,4,5,3,4,5,5,5,3,5,...,30,8,3,1,2,2,1,5,5,oxi
1,5,5,5,2,5,4,5,4,2,5,...,72,4,3,3,1,1,2,7,3,Περιστέρια στον θάλαμο

In [41]:
print(PMOS.index)

RangeIndex(start=0, stop=2, step=1)