# PMOS Analysis

In [44]:
# Libraries
import pandas as pd
import pingouin as pg

In [32]:
PMOS = pd.read_csv('patient.csv')

In [33]:
PMOS

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,age,education,family,occupation,income,nationality,nursing field,nursing days,safety evaluation,comments
0,4,4,5,3,4,5,5,5,3,5,...,30,8,3,1,2,2,1,5.0,5,oxi
1,5,5,5,2,5,4,5,4,2,5,...,72,4,3,3,1,1,2,7.0,3,Περιστέρια στον θάλαμο
2,4,5,4,2,5,5,5,4,2,5,...,58,3,3,1,1,1,2,6.0,5,oxi
3,5,4,5,2,5,4,5,5,5,4,...,71,1,3,3,1,1,2,7.0,5,Peristeria ston thalamo
4,5,4,5,2,5,4,5,5,5,4,...,72,1,3,3,1,1,2,7.0,5,peristeria ston thalamo
5,5,4,5,3,4,5,5,5,4,5,...,58,3,1,3,1,1,1,7.0,3,oxi
6,4,2,5,3,4,5,5,2,4,5,...,45,4,3,3,2,2,1,NaN,5,oxi
7,4,5,5,4,5,5,5,4,5,4,...,60,3,2,1,2,1,2,4.0,5,oxi
8,4,5,4,2,4,4,3,3,2,2,...,60,1,1,2,1,1,2,5.0,5,oxi

In [34]:
#slice pmos to 2 tables
patients_questions  = PMOS.iloc[: , :30]
patients_personalInfo = PMOS.iloc[:, 30:41]

### Create all parameters and check fro intetrnal cosnistency

In [59]:
#helper functions

def my_reverse(table, q):
    for index in range(len(table)):
        if table[q].iloc[index] == 1:
            table[q].iloc[index] = 5
        elif table[q].iloc[index] == 2:
            table[q].iloc[index] = 4
        elif table[q].iloc[index] == 4:
            table[q].iloc[index] = 2
        elif table[q].iloc[index] == 5:
            table[q].iloc[index] = 1
    return table

In [65]:
# parameter 1
parameter_1 = patients_questions[:][['q3','q28','q13','q19','q24']] # reverse q19
parameter_1 = my_reverse(parameter_1,'q19')
parameter_1

   q3  q28  q13  q19  q24
0   5    5    5    1    5
1   5    5    5    4    4
2   4    5    4    4    4
3   5    5    4    1    5
4   5    5    4    1    5
5   5    5    4    2    4
6   5    5    4    4    4
7   5    4    4    4    4
8   4    5    4    4    4

In [66]:
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_1)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  -2.430555555555556

In [69]:
# parameter 2
parameter_2 = patients_questions[:][['q2','q4','q22','q25','q24']] # reverse q4 q22
parameter_2 = my_reverse(parameter_2,'q4')
parameter_2 = my_reverse(parameter_2,'q22')

In [70]:
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_2)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  0.7034412955465588

In [41]:
# parameter 3
parameter_3 = patients_questions[:][['q23','q29','q27']] 
parameter_3 = my_reverse(parameter_3,'q23')
parameter_3 = my_reverse(parameter_3,'q29')

In [71]:
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_3)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  0.2658227848101265

In [72]:
parameter_3

   q23  q29  q27
0    4    4    4
1    3    4    2
2    4    4    5
3    4    4    5
4    4    4    5
5    4    5    4
6    2    4    4
7    4    3    5
8    4    3    4

In [74]:
# parameter 4
parameter_4 = patients_questions[:][['q11','q10','q9','q15','q16','q17','q18']] 
parameter_4 = my_reverse(parameter_4,'q9')
parameter_4 = my_reverse(parameter_4,'q15')
parameter_4 = my_reverse(parameter_4,'q16')
parameter_4 = my_reverse(parameter_4,'q17')
parameter_4 = my_reverse(parameter_4,'q18')

In [75]:
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_4)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  0.5798816568047337

In [76]:
parameter_4

   q11  q10  q9  q15  q16  q17  q18
0    5    5   3    4    4    5    4
1    4    5   4    2    4    4    2
2    5    5   4    4    4    5    4
3    5    4   1    4    4    5    1
4    5    4   1    4    4    5    1
5    5    5   2    2    4    4    5
6    2    5   2    2    2    1    2
7    4    4   1    4    4    4    4
8    4    2   4    4    4    4    5

In [80]:
# parameter 5
parameter_5 = patients_questions[:][['q30','q5']]

In [81]:
#average interitem corrrelation


#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_5)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  0.10344827586206917

In [82]:
parameter_5

   q30  q5
0    4   4
1    5   5
2    5   5
3    5   5
4    5   5
5    5   4
6    3   4
7    2   5
8    5   4

In [84]:
# parameter 6
parameter_6 = patients_questions[:][['q6','q12','q20','q26']]

In [85]:
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_6)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  -1.1171171171171173

In [86]:
parameter_6

   q6  q12  q20  q26
0   5    4    5    5
1   4    4    5    5
2   5    2    5    4
3   4    5    5    4
4   4    5    5    4
5   5    3    5    4
6   5    4    4    4
7   5    3    4    4
8   4    5    4    5

In [87]:
# parameter 7
parameter_7 = patients_questions[:][['q7','q14']]

In [ ]:
# parameter 7
parameter_7 = patients_questions[:][['q7','q14']]