# PMOS Analysis

In [1]:
# Libraries
import pandas as pd
import pingouin as pg

/Users/stathis/opt/anaconda3/lib/python3.9/site-packages/outdated/utils.py:14: OutdatedPackageWarning: The package outdated is out of date. Your version is 0.2.1, the latest is 0.2.2.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(
/Users/stathis/opt/anaconda3/lib/python3.9/site-packages/outdated/utils.py:14: OutdatedPackageWarning: The package pingouin is out of date. Your version is 0.5.2, the latest is 0.5.3.
Set the environment variable OUTDATED_IGNORE=1 to disable these warnings.
  return warn(

In [2]:
PMOS = pd.read_csv('patient.csv')

In [3]:
PMOS

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,age,education,family,occupation,income,nationality,nursing field,nursing days,safety evaluation,comments
0,4,4,5,3,4,5.0,5,5,3.0,5,...,30.0,8.0,3.0,1.0,2.0,2,1.0,5.0,5.0,oxi
1,5,5,5,2,5,4.0,5,4,2.0,5,...,72.0,4.0,3.0,3.0,1.0,1,2.0,7.0,3.0,Περιστέρια στον θάλαμο
2,4,5,4,2,5,5.0,5,4,2.0,5,...,58.0,3.0,3.0,1.0,1.0,1,2.0,6.0,5.0,oxi
3,5,4,5,2,5,4.0,5,5,5.0,4,...,71.0,1.0,3.0,3.0,1.0,1,2.0,7.0,5.0,Peristeria ston thalamo
4,5,4,5,2,5,4.0,5,5,5.0,4,...,72.0,1.0,3.0,3.0,1.0,1,2.0,7.0,5.0,peristeria ston thalamo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,5,5,5,2,5,5.0,5,5,5.0,5,...,NaN,3.0,3.0,3.0,1.0,1,1.0,NaN,4.0,NaN
169,5,5,5,5,5,5.0,5,5,5.0,5,...,67.0,1.0,2.0,3.0,1.0,1,2.0,4.0,3.0,oxi
170,5,5,5,2,4,4.0,5,4,4.0,4,...,NaN,5.0,2.0,1.0,1.0,3,3.0,3.0,3.0,oxi
171,5,5,5,5,5,5.0,5,5,5.0,5,...,51.0,4.0,3.0,1.0,1.0,1,2.0,8.0,5.0,oxi
172,5,5,5,2,4,4.0,4,4,2.0,4,...,59.0,4.0,1.0,1.0,1.0,1,2.0,4.0,4.0,oxi

In [4]:
#slice pmos to 2 tables
patients_questions  = PMOS.iloc[: , :30]
patients_personalInfo = PMOS.iloc[:, 30:41]

%store patients_personalInfo

Stored 'patients_personalInfo' (DataFrame)

### Create all parameters and check for Intetrnal cosnistency

In [5]:
#helper functions

def my_reverse(table, q):
    for index in range(len(table)):
        if table[q].iloc[index] == 1:
            table[q].iloc[index] = 5
        elif table[q].iloc[index] == 2:
            table[q].iloc[index] = 4
        elif table[q].iloc[index] == 4:
            table[q].iloc[index] = 2
        elif table[q].iloc[index] == 5:
            table[q].iloc[index] = 1
    return table

In [6]:
# parameter 1
par_1 =patients_questions[:][['q3','q28','q13','q19','q24']] # reverse q19
#parameter_1

In [7]:
par_1 = my_reverse(par_1,'q19')
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=par_1)
print("Cronabachs alpha for parameter 1: ",ca[0])

%store par_1

Cronabachs alpha for parameter 1:  0.7031206254549527
Stored 'par_1' (DataFrame)

In [8]:
# parameter 2
par_2 = patients_questions[:][['q2','q4','q22','q25']] # reverse q4 q22
par_2

     q2  q4  q22  q25
0     4   3    2    5
1     5   2    2    5
2     5   2    1    5
3     4   2    1    5
4     4   2    1    5
..   ..  ..  ...  ...
168   5   2    2    4
169   5   5    2    5
170   5   2    1    4
171   5   5    1    5
172   5   2    2    4

[173 rows x 4 columns]

In [9]:
par_2 = my_reverse(par_2,'q4')
par_2 = my_reverse(par_2,'q22')

#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=par_2)
print("Cronabachs alpha for parameter 1: ",ca[0])

%store par_2

Cronabachs alpha for parameter 1:  0.37111288449435875
Stored 'par_2' (DataFrame)

In [11]:
# parameter 3
par_3 = patients_questions[:][['q23','q29','q27']] 
par_3 = my_reverse(par_3,'q23')

%store par_3

Stored 'par_3' (DataFrame)

In [12]:
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=par_3)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  0.4486927421041622

In [13]:
# parameter 4
parameter_4 = patients_questions[:][['q11','q10','q9','q15','q16','q17','q18']] 
parameter_4 = my_reverse(parameter_4,'q9')
parameter_4 = my_reverse(parameter_4,'q15')
parameter_4 = my_reverse(parameter_4,'q16')
parameter_4 = my_reverse(parameter_4,'q17')
parameter_4 = my_reverse(parameter_4,'q18')

/Users/stathis/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [14]:
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_4)
print("Cronabachs alpha for parameter 1: ",ca[0])
par_4 = parameter_4

%store par_4

Cronabachs alpha for parameter 1:  0.6445862759959982
Stored 'par_4' (DataFrame)

In [15]:
# parameter 5
parameter_5 = patients_questions[:][['q30','q5']] 

par_5 = parameter_5
%store par_5

Stored 'par_5' (DataFrame)

In [16]:
#average interitem corrrelation


#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_5)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  0.4584191153534216

In [17]:
# parameter 6
parameter_6 = patients_questions[:][['q6','q12','q20','q26']] 
par_6 = parameter_6
%store par_6

Stored 'par_6' (DataFrame)

In [18]:
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_6)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  0.6783291259764366

In [19]:
# parameter 7
parameter_7 = patients_questions[:][['q7','q14']] 
par_7 = parameter_7
%store par_7

Stored 'par_7' (DataFrame)

In [20]:
# parameter 8
parameter_8 = patients_questions[:][['q21','q8']] 
par_8 = parameter_8
%store par_8

Stored 'par_8' (DataFrame)