# PMOS Analysis

In [5]:
# Libraries
import pandas as pd
import pingouin as pg

In [6]:
PMOS = pd.read_csv('patient.csv')

In [7]:
PMOS

,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,...,age,education,family,occupation,income,nationality,nursing field,nursing days,safety evaluation,comments
0,4,4,5,3,4,5.0,5,5,3.0,5,...,30.0,8.0,3.0,1.0,2.0,2,1.0,5.0,5.0,oxi
1,5,5,5,2,5,4.0,5,4,2.0,5,...,72.0,4.0,3.0,3.0,1.0,1,2.0,7.0,3.0,Περιστέρια στον θάλαμο
2,4,5,4,2,5,5.0,5,4,2.0,5,...,58.0,3.0,3.0,1.0,1.0,1,2.0,6.0,5.0,oxi
3,5,4,5,2,5,4.0,5,5,5.0,4,...,71.0,1.0,3.0,3.0,1.0,1,2.0,7.0,5.0,Peristeria ston thalamo
4,5,4,5,2,5,4.0,5,5,5.0,4,...,72.0,1.0,3.0,3.0,1.0,1,2.0,7.0,5.0,peristeria ston thalamo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,5,5,5,2,4,NaN,4,4,2.0,4,...,42.0,4.0,1.0,1.0,1.0,1,3.0,7.0,5.0,oxi
85,5,5,5,2,5,5.0,5,5,2.0,5,...,76.0,1.0,2.0,3.0,1.0,1,1.0,150.0,5.0,oxi
86,4,4,4,2,5,4.0,5,5,4.0,5,...,NaN,4.0,1.0,1.0,1.0,2,2.0,2.0,5.0,oxi
87,3,3,3,3,3,3.0,4,2,4.0,3,...,48.0,7.0,3.0,1.0,2.0,2,3.0,4.0,3.0,oxi
88,5,5,4,4,4,4.0,5,2,3.0,3,...,31.0,7.0,1.0,1.0,1.0,1,3.0,6.0,4.0,oxi

In [8]:
#slice pmos to 2 tables
patients_questions  = PMOS.iloc[: , :30]
patients_personalInfo = PMOS.iloc[:, 30:41]

%store patients_personalInfo

Stored 'patients_personalInfo' (DataFrame)

### Create all parameters and check for Intetrnal cosnistency

In [9]:
#helper functions

def my_reverse(table, q):
    for index in range(len(table)):
        if table[q].iloc[index] == 1:
            table[q].iloc[index] = 5
        elif table[q].iloc[index] == 2:
            table[q].iloc[index] = 4
        elif table[q].iloc[index] == 4:
            table[q].iloc[index] = 2
        elif table[q].iloc[index] == 5:
            table[q].iloc[index] = 1
    return table

In [10]:
# parameter 1
parameter_1 = patients_questions[:][['q3','q28','q13','q19','q24']] # reverse q19
parameter_1 = my_reverse(parameter_1,'q19')
#parameter_1

In [11]:
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_1)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  0.7003125000000001

In [12]:
# parameter 2
parameter_2 = patients_questions[:][['q2','q4','q22','q25','q24']] # reverse q4 q22
parameter_2 = my_reverse(parameter_2,'q4')
parameter_2 = my_reverse(parameter_2,'q22')

In [13]:
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_2)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  0.6578789334614463

In [14]:
# parameter 3
parameter_3 = patients_questions[:][['q23','q29','q27']] 
parameter_3 = my_reverse(parameter_3,'q23')
parameter_3 = my_reverse(parameter_3,'q29')

In [15]:
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_3)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  0.14636349947297067

In [16]:
parameter_3

    q23  q29  q27
0     4    4    4
1     3    4    2
2     4    4    5
3     4    4    5
4     4    4    5
..  ...  ...  ...
84    4    3    4
85    4    1    5
86    4    2    4
87    2    2    4
88    1    2    4

[89 rows x 3 columns]

In [17]:
# parameter 4
parameter_4 = patients_questions[:][['q11','q10','q9','q15','q16','q17','q18']] 
parameter_4 = my_reverse(parameter_4,'q9')
parameter_4 = my_reverse(parameter_4,'q15')
parameter_4 = my_reverse(parameter_4,'q16')
parameter_4 = my_reverse(parameter_4,'q17')
parameter_4 = my_reverse(parameter_4,'q18')

/Users/stathis/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [18]:
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_4)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  0.7524569459784063

In [19]:
parameter_4

    q11  q10   q9  q15  q16  q17  q18
0     5    5  3.0    4    4    5    4
1     4    5  4.0    2    4    4    2
2     5    5  4.0    4    4    5    4
3     5    4  1.0    4    4    5    1
4     5    4  1.0    4    4    5    1
..  ...  ...  ...  ...  ...  ...  ...
84    5    4  4.0    4    4    4    4
85    5    5  4.0    4    4    2    4
86    5    5  2.0    4    1    1    1
87    3    3  2.0    2    4    4    3
88    3    3  3.0    3    3    3    3

[89 rows x 7 columns]

In [20]:
# parameter 5
parameter_5 = patients_questions[:][['q30','q5']]

In [21]:
#average interitem corrrelation


#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_5)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  0.47853519732772476

In [22]:
#parameter_5

In [23]:
# parameter 6
parameter_6 = patients_questions[:][['q6','q12','q20','q26']]

In [24]:
#calculate cronabachs alpha
ca = pg.cronbach_alpha(data=parameter_6)
print("Cronabachs alpha for parameter 1: ",ca[0])

Cronabachs alpha for parameter 1:  0.7232499911142677

In [25]:
#parameter_6

In [26]:
# parameter 7
parameter_7 = patients_questions[:][['q7','q14']]

In [27]:
# parameter 8
parameter_7 = patients_questions[:][['q21','q8']]